{% extends 'dashboard/base.html' %}
{% load duration %}

{% block container %}
<div class="row">
    <div class="col-md-12">
        {% if object_list %}
        <h2 class="title-1 m-b-25">Listado de Estudiantes</h2>
        <div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Correo</th>
                        <th>Fecha</th>
                        <th class="text-right">Inicio</th>
                        <th class="text-right">Tiempo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for horario in object_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ horario.estudiante }}</td>
                            <td>{{ horario.disponibilidad.fecha|date:"D d M Y" }}</td>
                            <td class="text-right">{{ horario.disponibilidad.hora_inicio|time:"H:i" }}</td>
                            <td class="text-right">{{ horario.disponibilidad.tiempo_minutos|duration }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-primary" role="alert">
            No tienes estudiantes
        </div>
        {% endif %}
    </div>
</div>
{% endblock%}