{% extends 'dashboard/base.html' %}


{% block container %}
<div class="row">
    <div class="col-md-12">
        {% if object_list|length > 0%}
        <h2 class="title-1 m-b-25">Listado de Horarios Disponibles</h2>
        <div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th style="width: 10%">No</th>
                        <th class="text-center">Profesor<br>Fecha</th>
                        <th class="text-right">Hora<br>Tiempo</th>
                        <th class="text-center">Capacidades<br>Reservar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for horario in object_list %}
                        <tr>
                            <td style="width: 10%">{{ forloop.counter }}</td>
                            <td>
                                {{ horario.profesor }}
                                <br>
                                <span style="color: brown;">{{ horario.fecha|date:"D d M Y" }}</span>
                            </td>
                            <td class="text-right">
                                    hora: {{ horario.hora_inicio|time:"H:i" }}
                                <br>
                                <span style="color: coral;">{{ horario.tiempo_minutos }} MIN</span>
                            </td>
                            <td class="text-center">
                                <a href="{% url 'dashboard:estudiante-reservar' horario.pk %}" class="btn btn-success">
                                    Reservar <span class="badge badge-light">{{ horario.estudiantes_permitidos }}</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Sin Horarios</div>
                <div class="card-body">
                  <h4 class="card-title">No hay nuevos horarios</h4>
                  <p class="card-text">No tenemos nuevos horarios disponibles.</p>
                </div>
              </div>
        {% endif %}
    </div>
</div>
{% endblock%}