{% extends 'dashboard/base.html' %}


{% block container %}
<div class="row">
    <div class="col-md-12">
        {% if object_list|length > 0%}
        <h2 class="title-1 m-b-25">Listado de Horarios Disponibles</h2>
        <div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Profesor</th>
                        <th>Fecha</th>
                        <th class="text-right">Hora</th>
                        <th class="text-right">Tiempo</th>
                        <th class="text-right">Capacidades</th>
                        <th class="text-right">Reservar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for horario in object_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ horario.profesor }}</td>
                            <td>{{ horario.fecha|date:"D d M Y" }}</td>
                            <td class="text-right">{{ horario.hora_inicio|time:"H:i" }}</td>
                            <td class="text-right">{{ horario.tiempo_minutos }} MIN</td>
                            <td class="text-center">{{ horario.estudiantes_permitidos }}</td>
                            <td class="text-center">
                                <a href="{% url 'dashboard:estudiante-reservar' horario.pk %}" class="btn btn-success">
                                    Reservar
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Sin Horarios</div>
                <div class="card-body">
                  <h4 class="card-title">No hay nuevos horarios</h4>
                  <p class="card-text">No tenemos nuevos horarios disponibles.</p>
                </div>
              </div>
        {% endif %}
    </div>
</div>
{% endblock%}